@keyframes clear-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes cart-item-count {
  0% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0px);
  }
}
